.idea
*.iml
*.pyc
.DS_Store
.*.swp
*.bak
src/main/resources/vertx_python/*.py
src/main/resources/vertx_python/*/
src/test/resources/testmodel_python/*.py
src/test/resources/testmodel_python/
src/test/resources/acme_python/
target
